<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo Page</title>
</head>

<h1>
    Its a demo page
</h1>

<body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<button id="demo" type="Button">Daily Analysis</button>
<button id="demo2" type="Button">History Analysis</button>
<button id="demo3" type="Button">Aircraft Data</button>
<button id="demo4" type="Button">Flag Report</button>
<button id="demo5" type="Button">Chart Image</button>


<div id="data"></div>
<div id="data2"></div>
<div id="data3"></div>
<div id="data4"></div>
<div id="data5"></div>
<script>
    $(document).ready(function() {
        $("#demo").click(function()
        {
            $.ajax({
            url: '/OutputTableDaily/0/2/3/5',
            type: 'POST',

            success: function(data){
            $("#data").html(data);
            $("#data").show();
             $("#data2").hide();
             $("#data3").hide();
             $("#data4").hide();
             $("#data5").hide();


            }

            })

        })
        $("#demo2").click(function()
        {
            $.ajax({
            url: '/OutputTableHistory/0/2/4/4/8',
            type: 'POST',

            success: function(data){
            $("#data").hide();
            $("#data2").html(data);
             $("#data2").show();
            $("#data3").hide();
            $("#data4").hide();
             $("#data5").hide();


            }

            })

        })
        $("#demo3").click(function()
        {
            $.ajax({
            url: '/OutputTableAircraft/15092',
            type: 'POST',

            success: function(data){
            $("#data").hide();
             $("#data2").hide();
            $("#data3").html(data);
            $("#data3").show();
            $("#data4").hide();
            $("#data5").hide();



            }

            })

        })
        $("#demo4").click(function()
        {
            $.ajax({
            url: '/Toreport/1/15092/B1-005812/1/0',
            type: 'POST',

            success: function(data){
            $("#data2").hide();
            $("#data").hide();
            $("#data3").hide();
            $("#data4").html(data);
            $("#data4").show();
            $("#data5").hide();
            }

            })

        })

        $("#demo5").click(function()
        {
            $.ajax({
            url: '/Bchart/10201/15',
            type: 'POST',

            success: function(data){
            $("#data2").hide();
            $("#data").hide();
            $("#data3").hide();
            $("#data4").hide();
            $("#data5").html(JSON.stringify(data));
            $("#data5").show();

            }

            })

        })
    });

</script>

</body>

</html>